body {
    font-family: 'Baloo 2', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title-bar {
    width: 100%;
    background: #333333cf;
    -webkit-app-region: drag;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    cursor: default;
    margin-bottom: 10px;
  }
  
  /* Styl pro zavírací tlačítko */
  .close-btn {
    float: right;
    -webkit-app-region: no-drag;
    padding: 0 15px;
    font-size: 20px;
    cursor: pointer;
  }

  p {
    margin: 0 0 0 15px;
    padding: 0;
    line-height: normal;
  }
  
  h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
  }
  
  table {
    width: auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 5px 15px;
    text-align: left;
    font-weight: 500; /* Default weight for text */
  }
  
  th {
    font-weight: 600;
  }

  .header-text {
    font-weight: 600;
    font-size: 0.2rem;
  }
  
  /* Google Fonts Link */
  @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
  